body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/img/bg.jpg');
    transition: background-image 1s ease-out;
}


.container {
    margin: 0 auto;
    position: relative;
    width: 90%;
    z-index: 1;
    opacity: 1;
    transition: 1s;
}

.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
}

.search {
    position: relative;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 460px;
    color: rgb(33, 37, 41);
    height: 45px;
    margin-top: 40px;
    background: rgba(76, 82, 85, 0.6);
    border: 1px solid rgba(228, 227, 227, 0.2);
    border-radius: 5px;
    @media (max-width: 500px) {
        flex-direction: column;
        justify-content: space-between;
        border: 0;
        height: 110px;
        background: none;
        margin-top: 15px;
    }

    @media (max-width: 760px) {
        margin: 0 auto;
    }
}


.search-input {
    background-image: url(../assets/img/search.svg);
    background-repeat: no-repeat;
    background-size: 34px;
    background-position: 10px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    color: rgb(123, 138, 139);
    cursor: text;
    display: block;
    font-size: 22px;
    font-weight: 400;
    height: 45px;
    padding: 0px 15px;
    padding-left: 50px;
    padding-right: 150px;
    opacity: 0.4;

    @media (max-width: 500px) {
        border: 0;
        border-radius: 5px;
        padding: 0;
        padding-left: 45px;
        width: 85%;
    }
}

.search-input {
    width: calc(100% - 45px);
    max-width: 1350px;
}

.search-input:focus {
    outline: 0;
}

.search-btn {
    border: 0;
    background-color: rgba(76, 82, 85, 0.9);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    height: 46px;
    padding: 8px 15px;
    width: 90px;
    opacity: 0.6;

    @media (max-width: 500px) {
        border-radius: 5px;
        padding: 0;
        width: 100%;
        font-size: 30px;
    }
}

.search-btn:active,
.search-btn:focus {
    outline: 0;
    border: 0;
}

.search-tia {
    position: absolute;
    width: 48px;
    height: 28px;
    background-image: url(../assets/img/tia.png);
    right: 80px;
    cursor: pointer;
    opacity: .8;
    transition: .2s;
    @media (max-width: 500px) {
        display: none;
    }
}

.search-tia:hover {
    opacity: 1;
}

.search-clear {
    position: absolute;
    width: 48px;
    height: 28px;
    background-image: url(../assets/img/clear.svg);
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    right: 165px;
    cursor: pointer;
    opacity: .8;
    transition: .2s;
    @media (max-width: 500px) {
        display: none;
    }
}

.search-clear:hover {
    opacity: 1;
}

.search-mic {
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url(../assets/img/mic.png);
    background-size: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    right: 140px;
    cursor: pointer;
    opacity: .8;
    transition: .2s;
    @media (max-width: 500px) {
        display: none;
    }
}

.search-mic:hover {
    opacity: 1;
}

.mic-active {
    animation-duration: 1s;
    animation-name: blink;
    animation-iteration-count: infinite;
   
}

@keyframes blink {
    from {
       border: 3px solid red;
    }
  
    to {
       border:0;
    }
  }

.tooltip:hover:after {
    content: attr(data-name);
    position: absolute;
    padding: 7px 12px;
    width: 80px;
    top: 50px;
    left: -28px;
    background: #343944;
    border-radius: 8px;
    color: #fff;
    text-align: center;  
    font-size: 16px;
}

.tooltip:hover:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 10px;
    width: 0; 
    height: 0; 
    border: 15px solid transparent;
    border-bottom-color: #232323;  
}

.info {
    height: 30px;
    margin: 0;
    padding: 0 10px 0 10px;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: rgb(214, 44, 26);

    @media (max-width: 500px) {
        padding: 10px 10px 0 10px;
    }
}

.ticker {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 1;
    transition: 1s;
    margin: 0 5% 1% 5%;
    padding-bottom: 5px;
}
 
.active {
    background: rgba(45, 48, 49, 0.9);
}

.weather {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 1;
    transition: 1s;
}

.hide {
    opacity: 0;
}

.city {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    text-transform: uppercase;

    @media (max-width: 374px) {
        font-size: 32px;
    }
}

.date {
    font-size: 24px;
    margin-bottom: 30px;
}

.time {
    margin-left: 10px;
}

.current {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 760px) {
        width: 80%;
    }

}

.temp__cur {
    font-size: 200px;
    padding-top: 130px;

    @media (max-width: 760px) {
        padding-top: 160px;
    }
}

.summary__wrapper {
    padding-top: 110px;
    margin-right: 20%;
}

.icon {
    width: 170px;
    position: absolute;
    right: 110px;
    bottom: 115px;

    @media (max-width: 1000px) {
        right: 0px;
        bottom: 250px;
    }

    @media (max-width: 765px) {
        right: -60px;
        bottom: 75%;
    }
}


.icon-small {
    width: 100px;
    position: absolute;
    left: 80px;
    bottom: 0;
}

.daily {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 60px;
    margin-bottom: 30px;

    @media (max-width: 1180px) {
        flex-direction: column;
    }

    @media (max-width: 760px) {
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
    }
}

.day {
    position: relative;
    &__name {
        font-size: 24px;
       
    }
    &__temp {
        font-size: 60px;
        margin-top: 55px;
    }

    @media (max-width: 1180px) {
        margin-bottom: 20px;
    }

    @media (max-width: 760px) {
        margin-bottom: 40px;
    }
}

.map {
    width: 35%;
    height: 400px;
    display: block;
    position: absolute;
    top: 4%;
    right: 0;
    border-radius: 10px;
    opacity: 1;
    transition: 1s;
    clip-path: polygon(30% 0%, 100% 0, 100% 30%, 100% 94%, 92% 85%, 0 85%, 0 84%, 0 0);

    @media (max-width: 1200px) {
        top: 35%;
    }

   
    @media (max-width: 760px) {
        width: 100%;
        height: 320px;
        display: block;
        position: inherit;
    }
}

.data-location {
    display: flex;
    position: absolute; 
    flex-direction: column;
    top: 80%;
    right: 0;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
    opacity: 1;
    transition: 1s;


    @media (max-width: 760px) {
        position: inherit;
        font-size: 16px;
        line-height: 25px;
        text-align: end;
    }

}





@media (max-width: 820px) {
    .search-tia {
        display: none;
    }  
    .search-mic {
        right: 85px;
    }

    .search-clear {
        right: 110px;
    }

}